# This file is OK to be deleted

# On branch master
# Untracked files:
# (use "git add ..." to include in what will be committed)
# 
#   node_modules/
#nothing added to commit but untracked files present (use "git add" to track)

node_modules/ # ignore untracked files from node_modules/
