body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex-container{
	float: left;
	width: 25%;
	box-sizing: border-box;
	padding: 10px;
	padding-top: 0px;
}

.div1{
	display: block;
	padding-top: -50px;
	width: 100%;
	max-width: 100%;
}

.navDiv{
	position: fixed;
	width: 20%;
	max-width: 20%;
	height:100%;
	max-height:100%;
	clear: both;
}

.mainDiv{
	display: block;
	width: 80%;
	max-width: 80%;
	height:100%;
	max-height:100%;
	clear: both;
}

.wholediv{
	width: 100%;
}